In [1]:
%matplotlib notebook

In [2]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
# Read CSV
union_df = pd.read_csv("Resources/union_settlements_1995.csv")
union_df.head()

,SCHEDULE NUMBER,NEGOTIATION NUMBER,BLANK1,COMPANY IDENTIFYING INFORMATION,SIC Code,BLANK2,SIC Code.1,SIC Code.2,BLANK3,TYPE OF BARGAINING UNIT,...,BLANK16,CPI FORMULA,BLANK17,DATE OF FIRST COST-OF-LIVING REVIEW,BLANK18,DATE OF LAST COST-OF-LIVING REVIEW,BLANK19,WORK STOPPAGE BEGINNING DATE,BLANK20,WORK STOPPAGE ENDING DATE
0,17031,51,NaN,ELEVATOR MANUFACTORS ASSN LU 1 4799-3,NaN,NaN,Construction Special Trade Contractors,96,NaN,MORE THAN ONE COMPANY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17031,52,NaN,ELEVATOR MANUFACTURING ASSN LU 1 (4799),NaN,NaN,Construction Special Trade Contractors,96,NaN,MORE THAN ONE COMPANY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17031,53,NaN,ELEVATOR MANUFACTURERS ASSN,50.0,NaN,Construction Special Trade Contractors,96,NaN,MORE THAN ONE COMPANY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17031,54,NaN,ELEVATOR MFRS ASSN LU 1,50.0,NaN,Construction Special Trade Contractors,96,NaN,MORE THAN ONE COMPANY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17031,55,NaN,ELEVATOR MFRS ASSN OF NYC LU1,50.0,NaN,Construction Special Trade Contractors,96,NaN,MORE THAN ONE COMPANY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# List columns

list(union_df.columns)

['SCHEDULE NUMBER',
 'NEGOTIATION NUMBER',
 'BLANK1',
 'COMPANY IDENTIFYING INFORMATION ',
 'SIC Code',
 'BLANK2',
 'SIC Code.1',
 'SIC Code.2',
 'BLANK3',
 'TYPE OF BARGAINING UNIT',
 'BLANK4',
 'REGIONAL OR STATE',
 'BLANK5',
 'LOCATION',
 'BLANK6',
 'UNION',
 'BLANK7',
 'UNION CODE',
 'BLANK8',
 'NUMBER OF EMPLOYEES',
 'BLANK9',
 'NEGOTIATION DATE',
 'BLANK10',
 'AGREEMENT EFFECTIVE DATE',
 'BLANK11',
 'NEW EXPIRATION DATE',
 'BLANK12',
 'REOPENING DATE',
 'BLANK13',
 'ESCALATOR OVERALL CONTROL',
 'INDEX CODE',
 'BLANK14',
 'TYPE OF ESCALATOR CLAUSE',
 'MINIMUM AND/OR MAXIMUM CODE',
 'BLANK15',
 'CPI BASE YEAR',
 'BLANK16',
 'CPI FORMULA',
 'BLANK17',
 'DATE OF FIRST COST-OF-LIVING REVIEW',
 'BLANK18',
 'DATE OF LAST COST-OF-LIVING REVIEW',
 'BLANK19',
 'WORK STOPPAGE BEGINNING DATE',
 'BLANK20',
 'WORK STOPPAGE ENDING DATE']

In [11]:
# Get total settlements by union

In [10]:
# Configure plot, figsize, title, and axis labels


# Configure x-tick rotation


# Show plot

In [7]:
# Resize plot to display labels