In [3]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [4]:
# Store filepaths into variable
avg_file = Path("Resources/state_avg.csv")
total_file = Path("Resources/state_totals.csv")

In [5]:
# Read in files.
stateavg_df = pd.read_csv(avg_file)
statetotals_df = pd.read_csv(total_file)

In [6]:
# Display the state averages.
stateavg_df.head()

,Year,State,Average Median Age by County,Average Household Income by County,Average Per Capita Income by County
0,2016,Alabama,40.250746,38834.925373,21232.746269
1,2016,Alaska,36.624138,64801.655172,31052.103448
2,2016,Arizona,39.613333,44166.533333,21786.333333
3,2016,Arkansas,41.140000,37503.720000,20591.666667
4,2016,California,39.281034,58091.241379,29025.793103

In [7]:
# Display the state totals.
statetotals_df.head()

,Year,State,Total Population,Total Employed Civilians,Total Unemployed Civilians,Total People in the Military,Total Population in Poverty
0,2016,Alabama,4841164,2042025.0,184479.0,12150.0,868666.0
1,2016,Alaska,736855,353954.0,30139.0,16382.0,72826.0
2,2016,Arizona,6728577,2879372.0,249972.0,17373.0,1165636.0
3,2016,Arkansas,2968472,1266552.0,93190.0,4445.0,542431.0
4,2016,California,38654206,17577142.0,1683726.0,130452.0,6004257.0

In [9]:
# Merge the two DataFrames together based on the Year and State they share
merged_df = pd.merge(stateavg_df, statetotals_df, on=["Year", "State"])
merged_df.head()

,Year,State,Average Median Age by County,Average Household Income by County,Average Per Capita Income by County,Total Population,Total Employed Civilians,Total Unemployed Civilians,Total People in the Military,Total Population in Poverty
0,2016,Alabama,40.250746,38834.925373,21232.746269,4841164,2042025.0,184479.0,12150.0,868666.0
1,2016,Alaska,36.624138,64801.655172,31052.103448,736855,353954.0,30139.0,16382.0,72826.0
2,2016,Arizona,39.613333,44166.533333,21786.333333,6728577,2879372.0,249972.0,17373.0,1165636.0
3,2016,Arkansas,41.140000,37503.720000,20591.666667,2968472,1266552.0,93190.0,4445.0,542431.0
4,2016,California,39.281034,58091.241379,29025.793103,38654206,17577142.0,1683726.0,130452.0,6004257.0

In [11]:
# Create a DataFrame that filters the data on only 2019
merged2019_df = merged_df.loc[merged_df["Year"] == 2019]
merged2019_df.head()

,Year,State,Average Median Age by County,Average Household Income by County,Average Per Capita Income by County,Total Population,Total Employed Civilians,Total Unemployed Civilians,Total People in the Military,Total Population in Poverty
156,2019,Alabama,40.801493,43574.850746,24049.149254,4876250,2097384.0,132095.0,13306.0,795989.0
157,2019,Alaska,37.279310,67789.344828,33072.896552,737068,347774.0,26808.0,17756.0,76933.0
158,2019,Arizona,40.626667,48989.933333,24500.266667,7050299,3130658.0,195905.0,19592.0,1043764.0
159,2019,Arkansas,41.610667,42236.706667,23285.040000,2999370,1303490.0,70481.0,4751.0,496260.0
160,2019,California,39.889655,67713.603448,33798.620690,39283497,18591241.0,1199233.0,131073.0,5149742.0

In [13]:
# Add a new column that calculates the Poverty Rate
merged2019_df["Poverty Rate (%)"] = (merged_df["Total Population in Poverty"] / merged_df["Total Population"])*100
merged2019_df.head()

/var/folders/hc/1c1sdxpx7yv2_xbpx2wrxyb80000gn/T/ipykernel_6899/3083987745.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged2019_df["Poverty Rate (%)"] = (merged_df["Total Population in Poverty"] / merged_df["Total Population"])*100

,Year,State,Average Median Age by County,Average Household Income by County,Average Per Capita Income by County,Total Population,Total Employed Civilians,Total Unemployed Civilians,Total People in the Military,Total Population in Poverty,Poverty Rate (%)
156,2019,Alabama,40.801493,43574.850746,24049.149254,4876250,2097384.0,132095.0,13306.0,795989.0,16.323794
157,2019,Alaska,37.279310,67789.344828,33072.896552,737068,347774.0,26808.0,17756.0,76933.0,10.437707
158,2019,Arizona,40.626667,48989.933333,24500.266667,7050299,3130658.0,195905.0,19592.0,1043764.0,14.804535
159,2019,Arkansas,41.610667,42236.706667,23285.040000,2999370,1303490.0,70481.0,4751.0,496260.0,16.545475
160,2019,California,39.889655,67713.603448,33798.620690,39283497,18591241.0,1199233.0,131073.0,5149742.0,13.109174

In [14]:
# Sort the data by Poverty Rate and Average Per Capita Income by County, Highest to Lowest

# Reset Index

/var/folders/hc/1c1sdxpx7yv2_xbpx2wrxyb80000gn/T/ipykernel_6899/1433288790.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_values except for the argument 'by' will be keyword-only.
  merged2019_df.sort_values("Poverty Rate (%)", "Average Per Capita Income by County", ascending=False)

ValueError: No axis named Average Per Capita Income by County for object type DataFrame

In [10]:
# Print out the data for the state or territory with the highest poverty rate

Year                                           2019
State                                   Puerto Rico
Average Median Age by County               41.65641
Average Household Income by County     19300.025641
Average Per Capita Income by County    11067.884615
Total Population                            3318447
Total Employed Civilians                  1028513.0
Total Unemployed Civilians                 196934.0
Total People in the Military                 1845.0
Total Population in Poverty               1449091.0
Poverty Rate (%)                          43.667746
Name: 0, dtype: object

In [11]:
# Bonus: Print out the data for the state or territory with the lowest poverty rate with one line of code

Year                                            2019
State                                  New Hampshire
Average Median Age by County                   44.54
Average Household Income by County           69308.2
Average Per Capita Income by County          36819.6
Total Population                             1348124
Total Employed Civilians                    729701.0
Total Unemployed Civilians                   27430.0
Total People in the Military                  1950.0
Total Population in Poverty                  98682.0
Poverty Rate (%)                             7.31995
Name: 51, dtype: object